{%extends 'base.html' %}

{% block content %}
<main>
 <!--
        - #MOVIES SECTION
      -->
      <section class="movies">

        <!--
          - filter bar
        -->
        <div class="filter-bar">

          <div class="filter-dropdowns">

            <select name="genre" class="genre">
              <option value="all genres">All genres</option>
              {% for category in categories %}
              <option value="action">{{ category.name }}</option>
              {% endfor %}
        
            </select>

            <select name="year" class="year">
              <option value="all years">All the years</option>
              <option value="2022">2022</option>
              <option value="2020-2021">2020-2021</option>
              <option value="2010-2019">2010-2019</option>
              <option value="2000-2009">2000-2009</option>
              <option value="1980-1999">1980-1999</option>
            </select>

          </div>

          <div class="filter-radios">

            <input type="radio" name="grade" id="featured" checked>
            <label for="featured">Featured</label>

            <input type="radio" name="grade" id="popular">
            <label for="popular">Popular</label>

            <input type="radio" name="grade" id="newest">
            <label for="newest">Newest</label>

            <div class="checked-radio-bg"></div>

          </div>

        </div>


        <!--
          - movies grid
        -->

        <div class="movies-grid">
         {% for movie in movies %}
          <div class="movie-card">

            <div class="card-head">
              <img src="{{ movie.movie_poster.url }}" alt="{{ movie.title }}" class="card-img">

              <div class="card-overlay">
               {% if is_favourite %}
                <div class="bookmark">
                  <ion-icon name="heart"><a href="{% url 'favourite_add' movie.id %}"></a></ion-icon>
                </div>
                {% else %}
                 <div class="bookmark">
                  <ion-icon name="heart-outline"><a href="{% url 'favourite_add' movie.id %}"></a></ion-icon>
                </div>

                {% endif %}
            

                <div class="rating">
                  <ion-icon name="star-outline"></ion-icon>
                  <span>6.4</span>
                </div>

                <div class="play">
                  <ion-icon name="play-circle-outline"></ion-icon>
                </div>

              </div>
            </div>

            <div class="card-body">
              <h3 class="card-title"><a href="{% url 'movies_detail' movie.id %}">{{ movie.title }}</a></h3>

              <div class="card-info">
                <span class="genre">{{ movie.movie_categories.name }}</span>
                <span class="year">{{ movie.release_date|date:"Y" }}</span>
              </div>
            </div>

          </div>
          {% endfor %}
          
          </div>
      </section>
  </main>
{% endblock %}